.header3{

    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;

}
.button1{

    color: rgb(0, 106, 80);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 300px;
    line-height: 10px;
    letter-spacing: 0%;
    text-align: right;
    box-sizing: border-box;
    border: 1px solid rgb(38, 178, 143);
    border-radius: 8px;
 
     padding: 15px 30px 15px 30px
   

}
.section1{
    display: flex;
    justify-content: space-around;
    
}
.section2{
width: 1280px;
height: 560px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 80px 100px 80px 100px;
flex: none;
margin:20px 100px 0px 100px;
border-radius: 24px;

background: rgb(198, 228, 214);
}
.p1{

    color: rgba(14, 14, 14, 0.5);
font-family: Fira Sans;
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
text-align: left;
}
.header4{

    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 56px;
font-weight: 700;
line-height: 67px;
letter-spacing: 0%;
text-align: left;
}


.button2{

 background-color: rgb(0, 106, 80);
 border-radius:7px;
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: left;

}
.div1{

    border-radius: 24px;

background:rgb(198, 228, 214) ;
}
.Pillars{
    display: flex;
    margin:20px 100px 0px 100px;
    gap:30px;
   
}
.header5{

    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
    margin-left: 100px;

}

.ino{

    box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;

background: rgb(255, 255, 255);
}
.sus{

    box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;

background: rgb(255, 255, 255);
}
.infa{

    box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;

background: rgb(255, 255, 255);
}
.emp{

    box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;

background: rgb(255, 255, 255);
}

.aim{

    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin-left:100px;
}

.Pillar{

  display: flex;
 margin-left: 100px;
 gap:30px;
}

.l{
    border-radius: 8px;

    background: rgb(84, 144, 245);

}

.e{
    border-radius: 8px;

    background: rgb(9, 161, 92);

}
.r{

    box-sizing: border-box;
    border-radius: 16px;
    
    background: rgb(247, 235, 207);
}

.dig{

    box-sizing: border-box;
border-radius: 16px;

background: rgba(84, 144, 245, 0.2);
}

.green{

    box-sizing: border-box;
border-radius: 16px;

background: rgb(198, 228, 214);
}

.mod{

    box-sizing: border-box;
border-radius: 16px;

background: rgb(247, 235, 207);
}
.younus{

    background-image: url("../assets/quote-bg.png");
    background-position: top left;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    margin-top:20px;
    margin-left: 100px;
    
}
